body
{
    background-image:url("baric.png");
    background-position-y: top;
    background-position-x: right;
    /*ovo dolje je da se ta slika ne ponavlja vec se izvrsi jednom*/
    background-repeat: no-repeat;
    background-color:#7fffd4;
    text-align: "justify";

}
p{
    font-family: Verdana,Helvetica,sans-serif;
    font size: 12px;
}
p.citat
{
    font-style: italic;
    font-size: 11px;
    border: 1px solid #000;
    background-color: #ffffcc;

    
}
p.drugi
{
    color: firebrick;
    text-align: center;
    text-decoration: underline;
    border-width: thin;
    border-style: solid;
    border-left-color:white;
    border-bottom-color:white;
    border-right-color:black;
    border-top-color:black;
    magin-left:4px;
    
    
    
    
    
}
p.treci
{
    text-align: right;
    border-style: inset;
    Border-width:thick;
    border-color:green;
    padding: 15px;
    margin-left: 8px;
}
h1
{
    margin-top: 2px;
}
img.desno
{
    float:right;
}
ul li a, ul li a:visited{
    display:block;
    text-decoration: none;
    margin:1px;
    padding:2px 0px 2px 5px;
    width:100px;
 
}
ul ul li a, ul ul li a:visited{
    display:block;
    text-decoration: none;
    margin:1px 1px 1px 15px;
    padding:2px 0px 2px 5px;
    width:108px;
   
}
ul li{
    list-style:none;
    margin: 0px;
    padding:0px;
    color:chocolate4;
    font-weigt: bold;
    border-left-width: 6px;
    border-style:solid;
    
}
    
