body

{
    background-color:#696969;
}
table
{
    border="3px" ;
    border-color="blue";
    width=50%;
    cellspacing=15 ;
    cellpadding=15;
}
p{
    font-family: Verdana,Helvetica,sans-serif;
    font size: 12px;
}
p.citat
{
    font-style: italic;
    font-size: 11px;
    border: 1px solid #000;
    background-color: #ffffcc;
 
    
}
p.drugi
{
    color: FireBrick;
    text-align: center;
    text-decoration: underline;
}
p.treci
{
    text-align: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}




